[submodule "slcan"]
	path = slcan
	url = git@github.com:dukov777/slcan.git
[submodule "ring-buffer"]
	path = ring-buffer
	url = git@github.com:AndersKaloer/Ring-Buffer.git
[submodule "fifo"]
	path = fifo
	url = git@github.com:geekfactory/FIFO.git
